.cards{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    
    img{
        width: 200px;
        aspect-ratio: 1;
         object-fit: cover;
    }
}

.cardbody {
    width: 280px;
}

