*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #242424;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  
  h1{
    background: -webkit-linear-gradient(rgb(6, 6, 233), yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1rem;
  }
}

footer{
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 1rem;
}